/* Comentario */
/* 
reglas : se compone por el selector y sus definiciones
selectores : Identificación de elementos en el DOM, precede los { }
declaraciones : Todo lo que hacemos con el selector, suele estar rodeado por { }
propiedades : Lo que podemos hacer con los elementos
valores : Especificar el comportamiento de la propiedad
*/

/* 
Tipos de selectores:
* selector de etiqueta (header { } - section { } - article { } - nav { } - body { } )
* selector de hijos - descendente ( body header div nav ol li a { } )
* selector de clase, atributo html class ( .nombre-clase { } )
* selector de id, atributo html id ( #nombreID { } )
*/

/* header {
  background: gray;
} */


body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}

.header {
  background-color: #1B2127;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.header figure {
  margin: 0;
}

.menu {
  height: inherit;
}

.header ol {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  height: inherit;
}

.header ol li {
  height: inherit;
}

.header a {
  color: white;
  text-decoration: none;
  height: inherit;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Fjalla One', sans-serif;
  letter-spacing: -.2px; /*Espacio entre las letras*/
  font-weight: normal; /*El grueso de las letras*/
  /* normal = 400
  bold   = 600 */
  /* font-style: italic; Si no tienes descargada la fuente italic el navegador la modifica*/
  /* text-transform: capitalize; transformar texto mayúsculas y es mejor hacerlo en css */
  /* text-decoration: underline; subrayados, tachados */
}

h1 {
  font-size: 40px;
  line-height: 1.5em; /* 150% */
  letter-spacing: -.2px;
  color: white;
  margin: 0;
  /* margin: 100px 520px 0px 0px; */
  /* margin: top right bottom left; */
}

h1 strong {
  color: #026fff;
}

.hero {
  height: 300px;
  background-image: url(../img/hero.jpg);
  background-color: #1B2127;
  background-size: 500px 300px;
  background-repeat: no-repeat;
  background-position-x: right;
  display: flex;
  align-items: center;
}

.portfolio {
  background-color: #FAFAFA;
  /* background-color: red; */
}

.project {
  /* border-top: 10px solid red;
  border-right: 10px solid green;
  border-left: 10px solid orange;
  border-bottom: 10px solid pink; */
  /* border-top: tamaño tipo color; */
  /* Si no se asigna color al border lo toma del color del texto */
  /* border-top-color: red;
  border-top-width: 15px;
  border-top-style: solid; */
  border: 1px solid gray;
  border-radius: 10px;
  margin: 10px;
  margin-bottom: 15px;
  padding: 20px;
  background-color: #FFFFFF;
}

.project-details {
  width: 500px;
  /* height: 200px; */
  /* margin: 0px; */
}

.project-imageContainer {
  width: 500px;
}

.footer {
  color: white;
  background-color: #1B2127;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer img {
  vertical-align: middle;
}